body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: #505050;
}

/* Global */
.container {

}
/* Header */
header {
  border-bottom: 2px solid #41a2f4;
  height: 100px;
}

header #branding {
  width: 150px;
}

header nav {
  float: left;
}

header #bs-example-navbar-collapse-1 {
    margin-top: 30px;
    margin-left: 200px;
    font-size: 20px;
}

header #bs-example-navbar-collapse-1 a {
  color: #41a2f4;
  padding-bottom: 32px;
}

header #bs-example-navbar-collapse-1 a:hover, header #bs-example-navbar-collapse-1 a:focus {
  background: none;
}

/* Showcase */
#showcase {
  background: url("../images/showcase.jpg");
  height: 379px;
}

#showcase .container {
  background: url("../images/fon.png") no-repeat center;
  height: inherit;
}

#showcase h1 {
  margin-top: 180px;
  text-align: center;
  color: white;
}

/* Content */
#content {
  color: #505050;

}

/* Mainbar */
#mainbar {
  margin-top: 20px;
  padding: 0px;
}

#mainbar .question-list {
  min-height: 122px;
  border-top: 2px solid #d9d9d9;
  padding: 15px 0;
}

#mainbar .pagi {
  text-align: center;
}
/* Question-list */

.question-list a:hover {
  cursor: pointer;
}

.question-list .votes {
  text-align: center;
  width: 90px;
  height: 90px;
  padding: 5px;
  float: left;
  margin-right: 10px;
}

.question-list .summary {
  margin-left: 10px;
  float: left;
  width: 750px;
  height: 90px;
  position: relative;
}

.question-list .summary .title {
  padding: 0 5px;
}

.question-list .summary .title h3 {
  margin: 5px 0;
}

.question-list .summary .tags {
  float: left;
  padding: 0 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.question-list .summary .additions {
  padding: 0 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.question-list .summary .tags a {
  background-color: #f2f2f2;
}

/* Sidebar */
#sidebar{
  background: url("../images/vish.jpg");
  width: 100%;
}

/* Footer */
footer {
  color: #505050;
  min-height: 100px;
  border-top: 1px solid #41a2f4;
}

footer .icons {
  margin-top: 20px;
  text-align: center;
}

footer .fa {
  font-size: 24px;
  margin: 0 5px;
}

/* Question */

#question {
}

#question .container {
  position: relative;
}


#question .title {
  padding: 0 10px;
}

#question .date {
  margin-top: 25px;
  padding: 0 10px;
}

#question .text {
  width: 900px;
  margin-top: 30px;
  padding: 10px;
}

#question .user {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 100px;
  height: 80px;
  text-align: center;
  padding: 0;
}

#question .user img {
  margin: 0 25px;
  width: 50px;
  height: 50px;
}

/* Answers */

#answers .answer {
  width: 900px;
  margin: 10px 0;
  min-height: 50px;
  padding: 10px;
  background: lightgrey;
}

#answers .answer .user {
  margin-top: -5px;
  margin-bottom: 15px;
}
