body {
  background-color:	yellow;
}

.header1{
  background-color: brown;
  margin: auto;
  padding: 50px;
  width: 1000px;
  height: 200px;
}

.sitename1 {
  background-color: green;
  color: blue;
  margin: -50px;
  float: left;
  width: 250px;
  height: 200px;
  padding: 50px;
}

.user1 {
  background-color: Coral;
  margin: -50px;
  width: 250px;
  height: 200px;
  padding: 50px;
  float: right;
  text-align: center;
}

.main1 {
  background-color:	red;
  margin: auto;
  width: 1000px;
  height: 500px;
}

.navi1 {
  background-color: Azure;
  width: 250px;
  height: inherit;
  float: left;
  padding: 25px;
  text-align: center;
}

.content1 {
  background-color: BurlyWood;
  width: 500px;
  height: inherit;
  float: left;
  padding-top: 25px;
  text-align: center;
}

.tag1 {
  background-color: Cornsilk;
  width: 250px;
  height: inherit;
  float: right;
  padding: 25px;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

table  {
  border-spacing: 5px;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: center !important;
}

table, th, td {
    border: 2px solid brown;
    border-collapse: collapse;
}

th, td {
  padding: 5px !important;
}
