body {
  background-color:	yellow;
}

.header {
  background-color: brown;
  margin: auto;
  padding: 50px;
  width: 600px;
  height: 100px;
}

.sitename {
  background-color: green;
  color: blue;
  margin: -50px;
  float: left;
  width: 100px;
  height: 100px;
  padding: 50px;
}

.user {
  background-color: Coral;
  margin: -50px;
  width: 150px;
  height: 100px;
  padding: 50px;
  float: right;
  text-align: center;
}

.main {
  background-color:	red;
  margin: auto;
  width: 700px;
  height: 400px;
}

.content {
  background-color: BurlyWood;
  width: 450px;
  height: 350px;
  float: left;
  padding: 25px;
  text-align: center;
}

.tag {
  background-color: Cornsilk;
  width: 150px;
  height: 350px;
  float: right;
  padding: 25px;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}
