{% extends 'index.html' %}


{% block context %}
  <table>
    TABLE
    <tr>
      <th>Question</th>
      <th>Author</th>
      <th>Added at</th>
      <th>Rating</th>
   </tr>
    {% for question in questions %}
        <tr>
          <td><a href="{{ question.get_url }}">{{ question.title }}</a></td>
          <td>{{ question.author.username }}</td>
          <td>{{ question.added_at }}</td>
          <td>{{ question.rating }}</td>
        </tr>
    {% endfor %}
  </table>
    {% include "pagination.html" %}

{% endblock %}
